@{
    ViewData["Title"] = "Song";
}
<h1>@ViewData["Title"]</h1>

<div>
    <br />
    <!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
    Imagine a house<br>
    Way up on a hill<br>
    Dog in the yard<br>
    And trees in the fields<br>
    It's next to the water<br>
    It's the prettiest scene<br>
    With white picket fences<br>
    Or maybe surf green<br>
    <br>
    As wonderful as this all seems<br>
    This is beyond our means<br>
    It's just a dream<br>
    It's just a dream<br>
    <br>
    I can't get you all that stuff<br>
    But I can give you all my love<br>
    Free love<br>
    Free love<br>
    Are the simple things enough?<br>
    I got to give you all my love<br>
    Free love<br>
    Free love<br>
    <br>
    Oh, free love<br>
    <br>
    Imagine a place<br>
    Where we can be free<br>
    There's no-one for miles<br>
    It's just you and me<br>
    We might have kids<br>
    Maybe three<br>
    But twins could be cool<br>
    That would do it for me<br>
    <br>
    As wonderful as this all seems<br>
    This is beyond our means<br>
    It's just a dream<br>
    It's just a dream<br>
    <br>
    I can't get you all that stuff<br>
    But I can give you all my love<br>
    Free love<br>
    Free love<br>
    Are the simple things enough?<br>
    I got to give you all my love<br>
    Free love<br>
    Free love<br>
    <br>
    I can't get you all that stuff<br>
    But I can give you all my love<br>
    Free love<br>
    Free love<br>
    Are the simple things enough?<br>
    I got to give you all my love<br>
    Free love<br>
    Free love<br>
    <br>
    Oh, free love
</div>
